@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime


<h1>Switch control</h1>

<p>Current status: @Status</p>
<p>

</p>

<button class="btn btn-primary" @onclick="SwitchOn">Switch On</button>
<button class="btn btn-primary" @onclick="SwitchOff">Switch Off</button>

@code {
    private string currentValue;
    private string CurrentValue { get; set; }


    private string Status = "";
    private string ApiKey { get; set; }
    private ReturnedValue result;

    private void SetStatus(string status)
    {
        Status = status;
    }

    private async Task SwitchOn()
    {
        string url = "SetRelayState?code=" + ApiKey + "&DesiredSwitchState=On" ;
        await Http.GetFromJsonAsync<ReturnedValue>(url);
        SetStatus("On");  
    }

    private async Task SwitchOff()
    {
        string url = "SetRelayState?code=" + ApiKey + "&DesiredSwitchState=Off" ;
        await Http.GetFromJsonAsync<ReturnedValue>(url);
        SetStatus("Off");  
    }

    public class ReturnedValue
    {
        public string Value { get; set;}
    }


    private async Task LoadConfig()
    {
        ApiKey = await ReadCookie("BlazorSwitchControlConfig");
    }
    private async Task<string> ReadCookie(string name)
    {
        var value = (string)(await JSRuntime.InvokeAsync<string>("blazorExtensions.ReadCookie", name));
        return value;
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadConfig();
    }

}
