@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject Services.AppState AppState


<h1>Switch control</h1>


<p>Current status: @Status</p>
<p>

</p>

<button class="btn btn-primary" @onclick="SwitchOn">Switch On</button>
<button class="btn btn-primary" @onclick="SwitchOff">Switch Off</button>

@code {
    private string currentValue;
    private string CurrentValue { get; set; }


    private string Status = "";
    private string ApiKey { get; set; }
    private ReturnedValue result;

    private void SetStatus(string status)
    {
        Status = status;
    }

    private async Task SwitchOn()
    {
        string url = "SetRelayState?code=" + AppState.ApiKey + "&DesiredSwitchState=On" ;
        await Http.GetFromJsonAsync<ReturnedValue>(url);
        SetStatus("On");  
    }

    private async Task SwitchOff()
    {
        string url = "SetRelayState?code=" + AppState.ApiKey + "&DesiredSwitchState=Off" ;
        await Http.GetFromJsonAsync<ReturnedValue>(url);
        SetStatus("Off");  
    }

    public class ReturnedValue
    {
        public string Value { get; set;}
    }

}
