@page "/"
@inject HttpClient Http

<h1>Switch control</h1>

<p>Current status: @Status</p>

<button class="btn btn-primary" @onclick="SwitchOn">Switch On</button>
<button class="btn btn-primary" @onclick="SwitchOff">Switch Off</button>

@code {
    private string Status = "";
    private ReturnedValue result;
    private void SetStatus(string status)
    {
        Status = status;
    }

    private async Task SwitchOn()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        await Http.GetFromJsonAsync<ReturnedValue>("SetRelayState?code=5BZIml37y1kMS6IWImZQTqgaNvIpPNMshUKfOqTeqAzG8FYPJ1WYcg==&DesiredSwitchState=On");
        SetStatus("On");  
    }

    private async Task SwitchOff()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        await Http.GetFromJsonAsync<ReturnedValue>("SetRelayState?code=5BZIml37y1kMS6IWImZQTqgaNvIpPNMshUKfOqTeqAzG8FYPJ1WYcg==&DesiredSwitchState=Off");
        SetStatus("Off");  
    }

    public class ReturnedValue
    {
        public string Value { get; set;}
    }

}
