@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public AppState MyAppState = AppState.GetInstance();
    protected override async Task OnInitializedAsync()
    {
        await MyAppState.LoadConfig();
    }
    
    IJSRuntime MyJSRuntime;
    public class AppState
    {

        IJSRuntime  JSRuntime; 
        public static AppState GetInstance() => _appState;
        private static readonly AppState _appState = new AppState();
        private  AppState()
        {
            // Nothing to be done here!
        }
        private static string ApiKey { get; set; }
        private static string CookieName = "BlazorSwitchControlConfig";
        public event Action OnChange;

        public string GetApiKey()
        {
            return ApiKey;
        }
        public void SaveConfig(string NewApiKey)
        {
            CreateCookie(CookieName, NewApiKey, 30);
        }

        private async void CreateCookie(string name, string value, int days)
        {
            await JSRuntime.InvokeAsync<string>("blazorExtensions.WriteCookie", name, value, days);
        }

        private void NotifyStateChanged() => OnChange?.Invoke();

        public async Task LoadConfig()
        {
            ApiKey = await ReadCookie(CookieName);
        }
        private async Task<string> ReadCookie(string name)
        {
            Console.WriteLine("Cookie Name: " + name);
            var value = (string)(await JSRuntime.InvokeAsync<string>("blazorExtensions.ReadCookie", name));
            return value;
        }

    }

}