@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    public AppState MyAppState = AppState.GetInstance();
    protected override async Task OnInitializedAsync()
    {
        string Key = await LoadConfig(AppState.CookieName);

    }
    
    public class AppState
    {
        public static AppState GetInstance() => _appState;
        private static readonly AppState _appState = new AppState();
        private  AppState()
        {
            // Nothing to be done here!
        }
        public static string ApiKey { get; set; }
        public static readonly string CookieName = "BlazorSwitchControlConfig";
        public event Action OnChange;

        public string GetApiKey()
        {
            return ApiKey;
        }

        private void NotifyStateChanged() => OnChange?.Invoke();

    }


        public async Task<string> LoadConfig(string _CookieName)
        {
            return await ReadCookie(_CookieName);
        }
        private async Task<string> ReadCookie(string _CookieName)
        {
            Console.WriteLine("Cookie Name: " + _CookieName);
            return (string)(await JSRuntime.InvokeAsync<string>("blazorExtensions.ReadCookie", _CookieName));
        }

}